header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
    background-color:#e5e5e5;
    border-bottom: 1px solid #ddd;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .logo span {
    color: #6c63ff;
  }
  span{
    color: #6c63ff;
  }
  .search-bar input {
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
    border-radius: 25px;
    width: 300px;
  }
  
  .icons span {
    margin-left: 1rem;
    cursor: pointer;
  }
  